# This is released into the public domain.
# No warranty is provided, implied or otherwise.

code.tar
code/data/app-claw/*
work.tar
work
work/
work/*
work/*/
work/*/*
work/*/*/
work/*/*/*
repobuild
repobuild/
repobuild/*
repobuild/*/
repobuild/*/*
repobuild/*/*/
repobuild/*/*/*

laboratory/ocemu.cfg
laboratory/*/
laboratory/*/*
laboratory/*/*/
laboratory/*/*/*
laboratory/*/*/*/
laboratory/*/*/*/*

inst.lua
# Available as the respective release
inst-gold.lua
inst/code.tar.bd
upldr.sh
upldr-dev.sh
upldr-gold.sh
repository/inst.lua
