# This is released into the public domain.
# No warranty is provided, implied or otherwise.

# leaving in preSH.tar.gz for anyone who's interested
# in how NOT to do compression
code.tar
work.tar
work
work/
work/*
work/*/
work/*/*
work/*/*/
work/*/*/*
repobuild
repobuild/
repobuild/*
repobuild/*/
repobuild/*/*
repobuild/*/*/
repobuild/*/*/*

laboratory/ocemu.cfg
laboratory/*/
laboratory/*/*
laboratory/*/*/
laboratory/*/*/*
laboratory/*/*/*/
laboratory/*/*/*/*

inst.lua
# Available as the respective release
inst-gold.lua
com2/code.tar.bd
upldr.sh
upldr-dev.sh
upldr-gold.sh
repository/inst.lua
